@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
:root {
  font-family: 'Barlow',system-ui, Avenir, Helvetica, Arial, sans-serif;

  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #16171c;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
  font-weight: 500;
} */

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  flex-direction: column;
}
.background {
  overflow-x: hidden!important;

  background-image: linear-gradient(
    35deg,
    hsl(240deg 10% 8%) 0%,
    hsl(247deg 12% 8%) 9%,
    hsl(238deg 17% 8%) 19%,
    hsl(225deg 33% 10%) 35%,
    hsl(226deg 32% 11%) 81%,
    hsl(239deg 19% 9%) 91%,
    hsl(248deg 7% 9%) 96%,
    hsl(0deg 0% 11%) 100%
  );
  animation: gradient-animation 10s ease-in-out infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
    filter: hue-rotate(0deg) brightness(98%);
  }
  50% {
    background-position: 100% 50%;
    filter: hue-rotate(10deg) brightness(99%)

  }
  100% {
    background-position: 0% 50%;
    filter: hue-rotate(0deg) brightness(100%);
  }
}



.disabled-btn{
  display: none!important;

}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
 
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.profile-hero{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  max-width: 60%;
}
.profile-hero-greet{
  font-size: 2.5rem;
  font-weight: 400;
  color: #888;
  display: flex;
  align-items:center;
  justify-content: flex-start;
  margin-left: 5%;
  
}
.profile-hero-desc{
  max-width: 80%;
  font-size: 1.3rem;
  text-align: justify;
}
.profile-hero-name{
  font-size: 4.6rem;
  font-weight: 600;
  
}


.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}
 .navbar ul{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  text-align: center;
 } 
 .navbar li{
  list-style: none;
  margin: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: #888;
  cursor: pointer;
  transition: color 0.25s;
 
 }
  .navbar li:hover{
    color: #646cff;
  }
  .main-nav{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

 

  .scale-up-center {
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  }
.colored-one{
  color: #646cff;
  border-radius: 0.5rem;
  margin: .4rem;
  transition: background-color 0.25s;
  font-weight: 700;
}
   
.current-company{
  margin: 1rem;
  transition: background-color 0.25s;
  font-weight: 700;
}
 
 @-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}


 

.App{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;

}

.short-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

 

toast{
  width: 100%;
  padding: 0;
  margin: 0;
}
a:hover {
color: #535bf2;
font-weight: 500;
}

.contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  text-align: left;
}
.contact .row{
  display: flex;
  /* width: 50%; */
  /* height: 50px; */
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.data-wrapper{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contact .row h3 {
  font-weight: 500;
}
/* second h3 */
.contact .row h3:nth-child(2) {
  font-weight: 400;
  font-size: 1.2rem;
  color: #888;
}
button {
border-radius: 8px;
border: 1px solid transparent;
padding: 0.6em 1.2em;
font-size: 1em;
font-weight: 500;
font-family: inherit;
background-color: #1a1a1a;
cursor: pointer;
transition: border-color 0.25s;
}
button:hover {
border-color: #646cff;
}
button:focus,
button:focus-visible {
outline: 4px auto -webkit-focus-ring-color;
}
 


/* .home-main{
position:relative

} */
.social-left{
position: absolute;
top: 35%;
left: 3%;
display: flex;
flex-direction: column;
justify-content: space-between;
height: 250px;
width: 75px;
align-items: center;
}
.social-left li{
list-style: none;
}
 


a {
  font-weight: 600;
  color: #888;
  text-decoration: none;
}

 
 





@media only screen and (max-width: 1025px) {
 
  .profile-hero{
  max-width: 75%;
  }
  .profile-hero-name{
    width: 100%;
  }
}
@media screen  and (max-width:769px){
  .profile-hero{
  max-width: 100%;
  }
  .social-left{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px;
  }
  .social-left li{
    /* padding: 0; */
    /* width: 0; */
    list-style: none;
  }
}
@media only screen and (max-width:481px){
  .profile-hero{
  max-width: 100%;
    font-size: .5rem;
  }
  .profile-hero-name{
    font-size: 3rem;
  }
  .profile-hero-desc{
    font-size: 1rem;
  }
  .main-nav{
    width: 100%;
  }
  .navbar{
    width: 90%;
    margin: 0;
    padding: 0;
  }
  .navbar ul{
    font-size: .8rem;
    width: 100%;
  }
  .navbar li{
    padding: 0;

  }
   
  
 
}

@media only screen and (max-width:500px){
  
  .disabled-btn{
    display: flex!important;
  }
  .navbar{
      display: flex;
      flex-direction: column;
      padding: 0;
      margin: 0;
      width: 100%;
    }
    
    .navbar ul{
      display: flex;
      flex-direction: column;
      /* width: 50%; */
      
      background-color: #191a23;
      
      
    }
    .display-none{
      display: none!important;
  }
}

.animate {
  animation-name: animate-fade;
  animation-duration: 0.5s;
  animation-delay: .6s;

  animation-fill-mode: backwards;
}

.animate-text{
  animation-name: animate-fade-text;
  animation-fill-mode: backwards;

}
.animatefor5ms{
  animation-duration: 0.5s;
}
.animatefor7ms{
  animation-duration: 0.7s;
}
.animatefor9ms{
  animation-duration: 0.9s;
}
.animatedelay1s{
  animation-delay: .6s;
}
.animate-desc{
  animation-name: animate-desc;
  animation-duration: 1s;
  animation-fill-mode: backwards;
}

@keyframes animate-fade {
  0% { opacity: 0; 
    transform: scale(1.5);
  }
  100% { opacity: 1; }
}
@keyframes animate-fade-text {
  0% { opacity: 0; 
    transform: scale(1.5);
  }
  100% { opacity: 1; }
}

@keyframes animate-desc {
  0% { opacity: .0; 
    transform: scale(1.3); 

  }

  100% { opacity: 1; }
}